 
.header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0 30px;
}

.heading {
    font-size: 26px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
}

.switch-btn {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: red;
}

.form-aside {
    margin-top: 18px;
}

.help {
    display: flex;
    justify-content: flex-end;
}

.help-link {
    font-size: 14px;
    color: #939399;
}

.forgot {
    color: red;
}

.separate {
    display: block;
    height: 22px;
    margin: 2px 16px 0;
    border-left: 2px solid #eaeaea;
}


.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: right;

    .btn {
        min-width: 142px;
        height: 40px;
        font-size: 16px;
        padding: 0;
        font-weight: 500;
        border: none;
        outline: none;
        color: #333;
        display: flex;
        align-items: center;
        line-height: 0;
        justify-content: center;
        border-radius: 4px;
    }

    .btn.btn-primary {
        color: white;
        background-color: rgba(249, 52, 52, 0.5);
        margin-right: 16px;

        &:hover {
            background-color: rgba(249, 52, 52, 1);
        }
    }
}