.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 50;
    animation: fadeIn 0.2s linear;
    display: none;
}

.modal.open {
    display: flex;
}


@keyframes fadeIn {
    
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes growth {
    to {
        transform: scale(0.6);
    }
    from {
        transform: scale(1);
    }
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-body {
    position: relative;
    margin: auto;
    animation: growth linear 0.2s;
}

.description {
    margin-top: 10px;
    padding-right: 34%;
    text-align: justify;
      display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}