.wrapper {
    margin-top: 16px;
}

.heading {
    font-size: 22px;
}

.title {
    font-size: 14px;
    padding: 4px 0 8px;
}

.list {
    display: flex;
    justify-content: space-between;
}
.item {
    position: relative;
    margin-right: 16px;
}

.img-voucher {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    margin: 16px;
    z-index: 10;
    color: white;
    text-shadow: 0 0 4px #333;
    font-weight: 500;
    transform: translate(10%, -100%);

    .btn {
        background-color:blue;
        height: 36px;
        color: white;
        font-weight: 500;
        display: flex;
        margin-top: 30%;

        &:hover {
            background-color: #0057b8;
        }
    }
}
