
.user {
    display: flex;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    align-items: center;
    height: 40px;
    padding: 0 4px;
    margin-left: 20px;
    border-radius: 4px;

    &:hover {
        background-color: #1a4fa0;
    }
}

.user-avatar {
    margin-right: 8px;
    height: 32px;
    width: 32px;
    border: 2px solid orange;
    border-radius: 50%;
}

.img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.user-name {
    font-size: 1rem;
    color: white;
}