.tippy-box {
  background-color: rgb(52, 50, 50);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 8px;
}

.tippy-content {
  padding: 8px 9px;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -8px;
  color: rgb(52, 50, 50);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px;
  height: 60px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: auto 10em auto 6em;
}

.header .logo {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  padding-left: 20px;
  align-items: center;
}

.header .right {
  display: flex;
  align-items: center;
  color: white;
}

@media screen and (max-width: 500px) {
  .header .right.logo {
    flex: none;
    display: block;
  }

  .header {
    flex-direction: column;
  }

}