.tippy-box {
    background-color: rgb(52, 50, 50);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 8px;
}

.tippy-content {
    padding: 8px 9px;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
    color: rgb(52, 50, 50);
}
