.menu-list {
    width: var(--width-cell-search);
    line-height: 1.8rem;
}

.menu-popper {
    padding: 8px 0;
}

.menu-body {
    overflow-x: hidden;
}


.menu-item {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 8px;
    height: 54px;

    ~ .menu-item {
        border-top: 1px solid #e7e7e7;
    }

    &:hover {
        background: #f2f2f2;
    }
}



.icon {
    translate: 0 50%;
    transform: translateY(-60%);
    padding: 4px;
    margin-right: 8px;
    font-size: 2rem;
}

.title {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
}

.description {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 100;
}
